<div class="center">
  <span> <b>chatzot</b> (calculated as sunrise + six hours) </span>
  <span> <b>chatzot_night</b> (calculated as sunset + six hours) </span>
  <span> <b>alot_hashachar</b> (calculated as when the sun is at -16.1 degrees, as per MyZmanim.com)  </span>
  <span> <b>misheyakir</b> (calculated as when the sun is at -11.5 degrees, as per MyZmanim.com) </span>
  <span> <b>misheyakir_machmir</b> (calculated as when the sun is at -10.2 degrees, as per MyZmanim.com) </span>
  <span> <b>neitz_hachama</b> (the same as sunrise, but allows an event to be fired (added 2.1)) </span>
  <span> <b>sof_zman_shma</b> (calculated as sunrise + 3 hours, according to the Gra and Baal HaTanya) </span>
  <span> <b>sof_zman_tfilla</b> (calculated as sunrise + 4 hours, according to the Gra and Baal HaTanya) </span>
  <span> <b>mincha_gedola</b> (calculated as sunrise + 6.5 hours) </span>
  <span> <b>mincha_ketana</b> (calculated as sunrise + 9.5 hours) </span>
  <span> <b>plag_hamincha</b> (calculated as sunrise + 10.75 hours) </span>
  <span> <b>shkiah</b> (the same as sunset, but allows an event to be fired (added 2.1)) </span>
  <span> <b>tzeit</b> (calculated as when the sun is at -8.5 degrees, as per MyZmanim.com) </span>
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Upload template file. replace the real time with something like {{example1}} or {{example2}}. unit is in  minutes.
      <button type="button" (click)="openFileSelector()">Browse Files</button>
    </ng-template>
  </ngx-file-drop>
</div>
